{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center;">
            Scrape     
        </h1>
        <form action="" method="post" class="form" role="form" name="my_form">
            {% for site in sites %}
                <div class="row justify-content-md-center">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="card-title">{{ site.url }}</div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{ site.short }}_scrape_type" value="full" checked>
                                        <label class="form-check-label" for="{{ site.short }}_scrape_type">
                                            Full Scraping
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{ site.short }}_scrape_type" value="stock">
                                        <label class="form-check-label" for="{{ site.short }}_scrape_type">
                                            Stock Scraping
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row justify-content-md-center div-btn">
                                        <button type="button" class="btn-fill btn-wd btn btn-success btn_start" id="{{ site.short }}_btn_start">Start Scraping</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <textarea rows="20" cols="84" id="{{ site.short }}_scrape_status" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                

            <div class="row justify-content-md-center">
                <div class="card w-100">                        
                    <div class="card-body">
                        <div class="card-title">Download</div>
                        <div class="row">
                            <div class="col-md-5">
                                Supplier Website :
                            </div>
                            <div class="col-md-7">
                                <select class="custom-select" id="site" name="site">
                                    {% for site in sites %}
                                        <option value="{{ site.short }}">{{ site.url }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                Download Type :
                            </div>
                            <div class="col-md-7">
                                <select class="custom-select" id="download_type">
                                    <option value="basic_full">Basic Data Download (Full)</option>
                                    <option value="basic_stock">Basic Data Download (Stock)</option>
                                    <option value="diff_full">Difference Data Download (Full)</option>
                                    <option value="diff_stock">Difference Data Download (Stock)</option>
                                    <!-- <option value="diff_chosen">Chosen Difference Data Download</option> -->
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                The most recent data :
                            </div>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="recent_date" readonly>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5">
                                The data to compare :
                            </div>
                            <div class="col-md-7">
                                <select class="custom-select" id="compare_date">
                                    <option value="111">Choose...</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row justify-content-md-center div-btn">
                            <button type="button" class="btn-fill btn-wd btn btn-success" id="btn_download" name="btn_download">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        var full_xls_list = [];
        var stock_xls_list = [];
        var get_scraping_status_interval;
        var xls_file_list;

        $(".btn_start").on("click", function(){
            var scrape_type = "";
            var site = $(this).attr("id");
            site = site.substring(0, site.length-10);

            console.log("site = " + site);
            $("[name='" + site + "_scrape_type']" ).each(function() {
                console.log($(this ).prop("checked"));
                if ($(this).prop("checked") == true) {
                    scrape_type = $(this).val();
                    console.log("scrape_type = " + scrape_type);
                    return false;
                }
            });
            console.log("/start_scrape?scrape_type=" + scrape_type + "&site=" + site);
            $.ajax({
                url: "/start_scrape?scrape_type=" + scrape_type + "&site=" + site,
                type: "GET",
                datatype: "text",
        
                success: function (result) { 
                    console.log("Start Scraping . . .");
                    // get_scraping_status_interval = setInterval(get_scraping_status, 500);
                    setTimeout(function() { get_scraping_status(site); }, 1000);
                    // setTimeout(get_scraping_status, 500);
                },
                error: function (error) {
                
                }       
            });
        });

        function get_scraping_status(site) {
            $.ajax({
                url: "/get_scraping_status?site=" + site,
                type: "GET",
                datatype: "text",
        
                success: function (result) { 
                    console.log(result);
                    $("#" + site + "_scrape_status").val(result);
                    
                    if (result != "scraping is ended") {
                        // Stop get_scraping_status
                        setTimeout(function() { get_scraping_status(site); }, 1000);
                    } else {
                        // Get xls file list again
                        get_xls_list();
                    }
                },
                error: function (error) {
                    console.log(error);
                }       
            });
        }

        function get_xls_list() {
            $.ajax({
                url: "/get_xls_list",
                type: "GET",
                datatype: "json",
        
                success: function (result) { 
                    console.log(result);
                    xls_file_list = JSON.parse(result);                        

                    display_xls_list()                        
                },
                error: function (error) {
                    console.log(error);
                }       
            });
        }

        function display_xls_list() {
            switch($("#site").prop("selectedIndex")) {
                case 0:
                    full_xls_list = xls_file_list.origo.full.split("_");
                    stock_xls_list = xls_file_list.origo.stock.split("_");
                    break;
                // case 1:
                    // full_xls_list = xls_file_list.reydonsports.full.split("_");
                    // stock_xls_list = xls_file_list.reydonsports.stock.split("_");
                    // break;
                    
                    // full_xls_list = xls_file_list.totalimports.full.split("_");
                    // stock_xls_list = xls_file_list.totalimports.stock.split("_");
                    // break;
                // case 2:
                //     full_xls_list = xls_file_list.furlongflooring.full.split("_");
                //     stock_xls_list = xls_file_list.furlongflooring.stock.split("_");
                //     break;
            }

            // $("#compare_date").html("");
            $("#recent_date").val("");
            $("#compare_date").html("");

            if ($("#download_type").prop("selectedIndex") == 0 || $("#download_type").prop("selectedIndex") == 2 ) {
                if (full_xls_list.length > 0) {
                    $("#recent_date").val(full_xls_list[0]);
                    if (full_xls_list.length > 1) {
                        var ss = "";
                        for (var i = 1; i < full_xls_list.length; i++ ) {
                            ss += "<option value='" + full_xls_list[i] + "'>" + full_xls_list[i] + "</option>";
                        }
                        $("#compare_date").html(ss);
                    }
                } 
            } else {
                if (stock_xls_list.length > 0) {
                    $("#recent_date").val(stock_xls_list[0]);
                    if (stock_xls_list.length > 1) {
                        var ss = "";
                        for (var i = 1; i < stock_xls_list.length; i++ ) {
                            ss += "<option value='" + stock_xls_list[i] + "'>" + stock_xls_list[i] + "</option>";
                        }
                        $("#compare_date").html(ss);
                    }
                }
            }
            // $('#compare_date').selectpicker('refresh');
        }

        $("#download_type").on("change", function(){
            console.log("onchange");
            display_xls_list();
        });

        $("#site").on("change", function(){
            console.log("onchange");
            display_xls_list();
        });

        $("#btn_download").on("click", function(){
            if ($("#recent_date").val() == "") {
                alert("No data to download");
                return;
            } else if ($("#download_type").prop("selectedIndex") == 1 || $("#download_type").prop("selectedIndex") == 3 ) {
                if ($("#compare_date").val() == "") {
                    alert("No data to compare");
                    return ;
                }
            }
            console.log("downloading...");
            var diff = 0, stock = 0;

            switch($("#download_type").prop("selectedIndex")) {
                case 0: 
                    stock = 0;
                    diff = 0;
                    break;
                case 1: 
                    stock = 1;
                    diff = 0;
                    break;
                case 2: 
                    stock = 0;
                    diff = 1;
                    break;
                case 3: 
                    stock = 1;
                    diff = 1;
                    break;
            }
            
            window.open("/download?site=" + $("#site").val() + "&stock=" + stock + "&diff=" + diff + "&recent=" + $("#recent_date").val() + "&compare=" + $("#compare_date").val(), "_blank");
        });

        get_xls_list();
    </script>
    

{% endblock %}