{% extends 'layouts/default/page.html' %}

{% load i18n %}

{% block content %}
<div style="height: 100vh; display: flex; align-items: center;">
<div style="width: 350px; padding: 50px; box-shadow: 3px 4px 5px 0px rgb(0 0 0 / 38%); border-radius: 25px; background-color: aliceblue; margin-bottom: 50px;">
    <h4>{% trans 'Logged out' %}</h4>

    <p>
        {% trans 'Thanks for spending some quality time with the site today.' %}
    </p>

    <p>
        <a href="{% url 'accounts:log_in' %}">{% trans 'Log in again' %}</a>
    </p>
</div>
</div>
{% endblock %}
